@font-face {
    font-family: PTSans;
    src: url("../fonts/PTSans.eot");
    src: local('☺'),
    url("../fonts/PTSans.ttf") format("truetype"),
    url('../fonts/PTSans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PTSans.woff') format('woff');
}

@font-face {
    font-family: NexaLight;
    src:url('../fonts/Nexa_Light.otf')
}

@font-face {
    font-family:NexaBold;
    src:url('../fonts/Nexa_Bold.otf')
}

@font-face {
    font-family:QuicksandBold;
    src:url('../fonts/Quicksand-Bold.otf')
}


@font-face {
    font-family: HelveticaLight;
    src:url('../fonts/HelveticaNeueCyr-Light.otf')
}
