<div class="bxslider main-slider" ng-slider="postSlider"></div>


<div class="news-wrapper">
    <div class="slider-post" ng-news></div>
</div>

<section class="articles">

    <article class="article" ng-repeat="post in ctrl.posts">

        <a href="#/article/{{post.id}}" class="read-more">
            <i></i>
        </a>

        <div class="wrapper-image">
            <a href="#/article/{{post.id}}"><img ng-src="{{post.image}}" alt="image" title="image"></a>
        </div>

        <div class="content-article">

            <h2>{{post.name}}</h2>

            <p ng-bind-html="post.shortDescription"></p>
        </div>

        <div class="bottom-info">
            <time>{{post.date}}</time>

            <p class="like">{{post.like}}</p>
        </div>
    </article>

</section>