<div ng-go-news>
    <div class="wrapper-carousel">
        <div class="carousel-item" ng-repeat="new in news">
            <div class="news">
                <div class="wrapper-image">
                    <a href="#/article/{{new.id}}"><img ng-src="{{ new.image }}" alt="news" title="news"></a>

                    <a class="corner" href="#/article/{{new.id}}">
                        <span class="top-link"></span>
                        <span class="icon-link"></span>
                    </a>

                </div>

                <div class="news-info">
                    <h2>{{ new.name }}</h2>

                    <p>{{ new.description }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-news">
        <p class="prev" ng-click="prev()"><</p>
        <p class="next" ng-click="next()">></p>
    </div>
</div>

